div#my-account-page .ma-banner {
    background-size: cover;
}

body .loader {
    height: auto;
    top: initial;
    bottom: 0px;
    text-align: center;
    padding: 10px;
    z-index: 9999999999;
}

body .loader-inner {
    position: relative;
    display: inline-block;
    top: 0;
    left: 0;
    vertical-align: middle;
    transform: translate(0, 0);
}

body p.loader-message {
    top: 0;
    display: inline-block;
    width: auto;
    vertical-align: middle;
    margin-left: 5px;
    font-size: 17px;
    position: relative;
}

div#mail-modal > div,
div#locked-wrap .locked-modal,
#first-use .locked-modal,
div#learnmore-wrap .locked-modal{
	-webkit-overflow-scrolling: touch;

}

.ma-banner-content p.email {
    color: #fff;
    font-size: 15px;
}

.mm-noprofile p {
    font-size: 16px;
    line-height: normal;
    font-weight: bold;
}
.mm-noprofile button {
    display: block;
    width: 100%;
    padding: 15px 10px;
    border-radius: 50px;
    border: 0;
    font-family: 'josefinsans_regular';
    font-size: 17px;
    color: #fff;
    background: #8bc439;
    margin-top: 25px;
}
.mm-noprofile {
    padding: 20px 0;
    font-family: 'josefinsans_regular';
    text-align: center;
    display:none;
}

div#mail-modal.noprofile .mm-noprofile {
    display: block !important;
}
div#mail-modal.hasprofile .mm-noprofile {
    display: none !important;
}

div#mail-modal.hasprofile .mail-modal-buttons {
    display: block !important;
}
div#mail-modal.noprofile .mail-modal-buttons {
    display: none !important;
}
span#log-back {
    top:45px;
}
div.members-calendar-tiles.submitted .tile-wrap:after,
div.members-calendar-tiles.submitted .tile-wrap.active:after {
    display:none;
}
